<form class="form-search" name="search" method="GET" action="">
  <legend><span class="muted">1.</span> Pick a store <span class="muted">2.</span> Enter an e-mail or name</legend>

  <div class="container-fluid">
    <div class="btn-group" data-toggle="buttons-radio" >
      <button type="button" class="btn active" data-toggle="button"><i class="famfamfam-flag-us" title="Amazon.com"><input type="radio" name="site" value="us" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-gb" title="Amazon.co.uk"><input type="radio" name="site" value="uk" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-ca" title="Amazon.ca"><input type="radio" name="site" value="ca" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-de" title="Amazon.de"><input type="radio" name="site" value="de" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-it" title="Amazon.it"><input type="radio" name="site" value="it" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-fr" title="Amazon.fr"><input type="radio" name="site" value="fr" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-es" title="Amazon.es"><input type="radio" name="site" value="es" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-jp" title="Amazon.jp"><input type="radio" name="site" value="jp" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-cn" title="Amazon.cn"><input type="radio" name="site" value="cn" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-in" title="Amazon.in"><input type="radio" name="site" value="in" /></i></button>
      <button disabled type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-br" title="Amazon.com.br"><input type="radio" name="site" value="br" /></i></button>
      <button disabled type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-mx" title="Amazon.com.mx"><input type="radio" name="site" value="mx" /></i></button>
    </div>
  </div>

  <div class="container-fluid basin-search">
    <div class="input-append">
      <input type="text" class="span3 search-query" name="search">
      <button type="submit" class="btn"><i class="icon-search"></i> View</button>
    </div>
  </div>
</form>

<script type="text/javascript">document.form-search.search.focus();</script>
