<form class="form-search" name="search" method="GET" action="">
  <legend><span class="muted">1.</span> Choose a store <span class="muted">2.</span> Enter an e-mail or name</legend>

  <div class="container-fluid">
    <div class="btn-group" data-toggle="buttons-radio" >
      <button type="button" class="btn active" data-toggle="button"><i class="famfamfam-flag-us"><input type="radio" name="site" value="us" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-gb"><input type="radio" name="site" value="uk" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-ca"><input type="radio" name="site" value="ca" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-de"><input type="radio" name="site" value="de" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-it"><input type="radio" name="site" value="it" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-fr"><input type="radio" name="site" value="fr" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-es"><input type="radio" name="site" value="es" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-jp"><input type="radio" name="site" value="jp" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-cn"><input type="radio" name="site" value="cn" /></i></button>
      <button type="button" class="btn" data-toggle="button"><i class="famfamfam-flag-br"><input type="radio" name="site" value="br" /></i></button>
    </div>
  </div>

  <div class="container-fluid basin-search">
    <div class="input-append">
      <input type="text" class="span3 search-query" name="search">
      <button type="submit" class="btn"><i class="icon-search"></i> View</button>
    </div>
  </div>
</form>

<script type="text/javascript">document.form-search.search.focus();</script>
